@media(max-width: 600px) {

	body {
		font-size: 90%;
		padding: 60px 0 40px 0;
	}

	.page-header {
		padding: 0;

		p{
			display: none;
		}

		h1 {
			margin: 25px 0 15px 85px;
			font-size: 1.5em;
		}

		.center-content {
			display: inline-block;
		}
	}

	.avatar {
		img {
			width: 60px;
			height: 60px;
		}
		margin: 10px 10px;
	}

	.page-content {
		margin-top: 0;
	}

	.page-footer {
		padding: 10px 0;
	}

}